<h3>Página dos Estudantes do Cursinho Psicologia</h3>

<table>
    <tbody>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>CPF</th>
        </tr>
        <% @students.each do |student|  %>
            <tr>
                <td><%= student.name %></td>
                <td><%= student.address %></td>
                <td><%= student.cpf %></td>
                <td><%= link_to "Editar", edit_student_url(student) %></td>
                <td><%= link_to "Deletar", student, method: :delete, data: {confirm: "Tem certeza?"} %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Novo Aluno', new_student_path %>
