<%= form_with(model: [@role, User.new], local: true) do |form| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
        <span style="color: #FF0000; font-weight: bold;"> Username jรก existente! </span>    
        </div>
    <% end %>

    <div class="field">
        <%= form.label :username %><br/>
        <%= form.text_field :username %>
        <%= form.label :password %><br/>
        <%= form.password_field :password %>
    </div>
    <%= form.submit class:"btn btn-primary" %>
<% end %>