<%= form_with(model: [@role, User.new], local: true) do |form| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
            <!-- A seguinte linha foi extraída e adaptada do trabalho do lab de SI, mas para
            o nosso trabalho acho que não faz sentido usar
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            -->
            <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :username %><br/>
        <%= form.text_field :username %>
        <%= form.label :password %><br/>
        <%= form.password_field :password %>
    </div>
    <%= form.submit class:"btn btn-primary" %>
<% end %>