<%= form_with(model: apostille, local: true, multipart: true) do |form| %>
  <% if apostille.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apostille.errors.count, "error") %> prohibited this apostille from being saved:</h2>

      <ul>
      <% apostille.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :apostille_description %>
  </div>

  <div class="field">
    <%= form.label :arquivo %>
    <%= form.file_field :attachment %>
  </div>

  <div class="field">
    <%= form.label :subjects_id, 'Disciplina' %>
    <%= form.collection_select(:subjects_id, Subject.order(:name), :id, :name, {:prompt => 'Escolha uma Disciplina'}, {:class => 'browser-default'}) %>
  </div>

  <div class="actions">
    <%= form.submit "Adicionar", class:"btn green darken-3" %>
  </div>

<% end %>


