<p id="notice"><%= notice %></p>

<h1>Apostilas</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apostilles.each do |apostille| %>
      <tr>
        <td><%= apostille.description %></td>
        <td><%= Subject.find(apostille.subjects_id).name %></td>
        <td><%= link_to 'Download do Arquivo', apostille_download_path(apostille) %></td>
        <td><%= link_to 'Show', apostille %></td>
        <% if current_user.papel == 2%>
          <td><%= link_to 'Edit', edit_apostille_path(apostille) %></td>
          <td><%= link_to 'Destroy', apostille, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.papel == 2 %>
  <%= link_to 'Nova Apostila', new_apostille_path %>
<% end %>
