<h1 id="fonte">Apostilas</h1>

<table class="highlight">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Disciplina</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apostilles.each do |apostille| %>
      <tr>
        <td><%= apostille.description %></td>
        <td><%= Subject.find(apostille.subjects_id).name %></td>

        <td><%= link_to '<button class="btn green darken-3 hide-on-med-and-down"><i class="material-icons left">file_download</i>Download</button>'.html_safe, apostille_download_path(apostille) %>
        <%= link_to '<button class="btn-floating green darken-3 hide-on-large-only"><i class="material-icons left">file_download</i>Download</button>'.html_safe, apostille_download_path(apostille) %></td>

        <% if current_user.papel == 2%>
          <td><%= link_to '<button class="btn green darken-3 hide-on-med-and-down"><i class="material-icons left">edit</i>Editar</button>'.html_safe, edit_apostille_path(apostille) %>
          <%= link_to '<button class="btn-floating green darken-3 hide-on-large-only"><i class="material-icons left">edit</i>Editar</button>'.html_safe, edit_apostille_path(apostille) %></td>

          <td><%= link_to '<button class="btn green darken-3 hide-on-med-and-down"><i class="material-icons left">delete</i>Apagar</button>'.html_safe, apostille, method: :delete, data: { confirm: 'Tem Certeza?' } %>
          <%= link_to '<button class="btn-floating green darken-3 hide-on-large-only"><i class="material-icons left">delete</i>Apagar</button>'.html_safe, apostille, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if !current_user.nil? %>
  <% if current_user.papel == 2 %>
    <%= link_to '<button class="btn green darken-3"><i class="material-icons left">create</i>Nova apostila</button>'.html_safe, new_apostille_path %>
  <% end %>
<% end %>
