<h1>Apostilas</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Disciplina</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apostilles.each do |apostille| %>
      <tr>
        <td><%= apostille.description %></td>
        <td><%= Subject.find(apostille.subjects_id).name %></td>
        <td><%= link_to 'Download do Arquivo', apostille_download_path(apostille) %></td>
        <td><%= link_to 'Visualizar', apostille %></td>
        <% if current_user.papel == 2%>
          <td><%= link_to 'Editar', edit_apostille_path(apostille) %></td>
          <td><%= link_to 'Deletar', apostille, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if !current_user.nil? %>
  <% if current_user.papel == 2 %>
    <%= link_to 'Nova Apostila', new_apostille_path %>
  <% end %>
<% end %>
