<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      A seguir constam os dados referentes à matrícula: 
	  Nome: <%= @matricula.name %> 
	  Data de Nascimento: <%= @matricula.birth_date %> 
	  CPF: <%= @matricula.cpf %> &#10;
	  Telefone: <%= @matricula.phone %> 
	  Celular: <%= @matricula.cell_phone %> 
	  Endereço: <%= @matricula.address %> 
	  Cidade: <%= @matricula.city %> 
	  Estado: <%= @matricula.state %> 
	  Necessidade de bolsa: <%= @matricula.scholarship_need %> 
	  Email: <%= @matricula.email %> 
	  Turma <%= @matricula.classe %> 
    </p>
  </body>
</html>