<%= form_with(model: teacher, local: true) do |form| %>
    <% if teacher.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

        <ul>
        <% teacher.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <div class=field>
        <%= form.label :name, 'Nome Completo*' %><br />
        <%= form.text_field :name %>
    </div>

    <div class=field>
        <%= form.label :birth_date, 'Data de Nascimento*' %><br />
        <%= form.date_field :birth_date %>
    </div>

    <div class=field>
        <%= form.label :cpf, 'CPF*' %><br />
        <%= form.text_field :cpf %>
    </div>

    <div class=field>
        <%= form.label :address, 'Endereço*' %><br />
        <%= form.text_field :address %>
    </div>

    <div class=field>
        <%= form.label :city, 'Cidade*' %><br />
        <%= form.text_field :city %>
    </div>

    <div class=field>
        <%= form.label :state, 'Estado' %><br />
        <%= form.text_field :state %>
    </div>

    <div class=field>
        <%= form.label :phone, 'Telefone Residencial' %><br />
        <%= form.text_field :phone %>
    </div>

    <div class=field>
        <%= form.label :cell_phone, 'Telefone Celular*' %><br />
        <%= form.text_field :cell_phone %>
    </div>

    <div class=field>
        <%= form.label :disciplina, 'Disciplina*' %><br />
        <%= form.collection_select(:disciplina, Subject.order(:name), :id, :name, {:prompt => 'Escolha uma Disciplina'}, {:class => 'browser-default'}) %>
    </div>

    <div class=field>
        <%= form.label :email, 'E-Mail*' %><br />
        <%= form.text_field :email %>
    </div>

    <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
    </div>
<% end %>
