<h1>Arquivos do Cursinho</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @archives.each do |archive| %>
      <tr>
        <td><%= archive.description %></td>
        <% if archive.tipo == 0 %>
          <td>Carta da Coordenação</td>
        <%end%>
        <% if archive.tipo == 1 %>
          <td>Formulário do Professor</td>
        <%end%>
        <% if archive.tipo == 2 %>
          <td>Vagas para Professores</td>
        <%end%>
        <td><%= link_to 'Download do Arquivo', archive_download_path(archive) %></td>
        <td><%= link_to 'Visualizar', archive %></td>
        <td><%= link_to 'Editar', edit_archive_path(archive) %></td>
        <td><%= link_to 'Deletar', archive, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Arquivo', new_archive_path %>