<%= form_with(model: material, local: true, multipart: true) do |form| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :material_description %>
  </div> 

  <div class="field">
    <%= form.label :subject_id %>
    <%= form.number_field :subjects_id, id: :material_subjects_id %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.number_field :tipo, id: :material_tipo %>
  </div>

  <div class="field">
    <%= form.label :arquivo %>
    <%= form.file_field :attachment %>
  </div>

  <div class="field">
    <%= form.label :subjects_id, :Matéria %>
    <%= form.collection_select(:subjects_id, Subject.order(:name), :id, :name, {:prompt => true}, {:class => 'browser-default'}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
