<h1 id="fonte">Materiais</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Disciplina</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.description %></td>
        <td><%= Subject.find(material.subjects_id).name %></td>

        <td><%= link_to '<button class="btn green darken-3 hide-on-med-and-down"><i class="material-icons left">file_download</i>Download</button>'.html_safe, material_download_path(material) %>
        <%= link_to '<button class="btn-floating green darken-3 hide-on-large-only"><i class="material-icons left">file_download</i>Download</button>'.html_safe, material_download_path(material) %></td>

        <td><%= link_to '<button class="btn green darken-3 hide-on-med-and-down"><i class="material-icons left">edit</i>Editar</button>'.html_safe, edit_material_path(material) %>
        <%= link_to '<button class="btn-floating green darken-3 hide-on-large-only"><i class="material-icons left">edit</i>Editar</button>'.html_safe, edit_material_path(material) %></td>

        <td><%= link_to '<button class="btn green darken-3 hide-on-med-and-down"><i class="material-icons left">delete</i>Apagar</button>'.html_safe, material, method: :delete, data: { confirm: 'Tem Certeza?' } %>
        <%= link_to '<button class="btn-floating green darken-3 hide-on-large-only"><i class="material-icons left">delete</i>Apagar</button>'.html_safe, material, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button class="btn green darken-3"><i class="material-icons left">create</i>Novo material</button>'.html_safe, new_material_path %>
