<h1>Materiais</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.description %></td>
        <td><%= Subject.find(material.subjects_id).name %></td>
        <td><%= link_to 'Download do Arquivo', material_download_path(material) %></td>
        <td><%= link_to 'Visualizar', material %></td>
        <td><%= link_to 'Editar', edit_material_path(material) %></td>
        <td><%= link_to 'Deletar', material, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Material', new_material_path %>
