<!DOCTYPE html>
<html>
  <head>
    <title>PsicoSys</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <!--<%= link_to "Students", students_path %>
      <%= link_to "Teachers", teachers_path %>
      <%= link_to "Administrators", administrators_path %> -->

      <% if current_user %>
        Olá! <%= current_user.username %>
        <%= link_to "Log Out", logout_path %>
        <% if current_user.papel == 2  %>
          <%= link_to "Cadastrar Aluno", signup_students_path %>
          <%= link_to "Cadastrar Professor", signup_teachers_path %>
          <%= link_to "Cadastrar Administrador", signup_administrators_path %>
        <% end %>
      <% end %>
    </p>

    <hr>
    
    <%= yield %>
  </body>
</html>
